<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function(app) {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/
    page('/', function () {
      app.route = 'home';
    });
    page('/services', function () {
      app.route = 'services';
    });
    page('/about', function () {
      app.route = 'about';
    });
    page('/contact', function () {
      app.route = 'contact';
    });
    page('/blog', function () {
      app.route = 'blog';
    });
    page('/project', function () {
      app.route = 'project';
    });
    // add #! before urls
    page({
      hashbang: false
    });

  });
</script>
