<!--
Tecla5 icons Elements

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-iconset-svg/iron-iconset-svg.html">
-->

<iron-iconset-svg name="t5-icons" size="50">
  <svg>
    <defs>
      <g id="tecla5">
        <rect x="0" y="0" rx="5" ry="5" width="50" height="50" fill="url(#gradExt2)"></rect>
        <rect x="6" y="6" rx="3" ry="3" width="38" height="38" fill="url(#gradInt)"></rect>
        <rect x="9" y="9" rx="1" ry="1" width="32" height="32" fill="rgb(225, 225, 225)"></rect>
        <text x="11" y="36" fill="rgb(255, 152, 0)" stroke-color="rgb(255, 152, 0)" style="font-family: sans-serif;
             font-size  : 24;
            ">5</text>
        <linearGradient id="gradInt" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" style="stop-color:rgb(216, 216, 216);stop-opacity:1"></stop>
          <stop offset="100%" style="stop-color:rgb(250,250,250);stop-opacity:1"></stop>
        </linearGradient>
        <radialGradient id="gradExt2" cx="0%" cy="-10%" r="120%">
          <stop stop-color="white" offset="10%"></stop>
          <stop stop-color="rgb(200, 200, 200)" offset="90%"></stop>
          <stop stop-color="rgb(190, 190, 190)" offset="120%"></stop>
        </radialGradient>

      </g>

    </defs>
  </svg>
</iron-iconset-svg>
