<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="t5-services">
  <style>
    :host {
      display: block;
      background: #FFF;
    }
    .logo{
      width: 100%;
    }
    .icon{
      width: 20%;
      height: 30%;
    }
    .head-title{
      padding-left: 10%;
      font-size: 3.5vh;
    }
    .subtitle{
      font-size: 2.5vh;
      padding-top:3%;
    }
    .left{
      float: left;
      padding:5%;
      padding-left:10%;
      padding-right:10%;
      vertical-align:top;
    }
    .div-content{
      font-size: 2vh;
      display:block;
      overflow:hidden;
      text-align: justify;
      margin-right:5%;
    }

  </style>
  <template>
    <paper-header-panel mode="cover">
      <div>
        <img class="logo" src="/images/Services.png"/>
      </div></br></br>
      <div class="head-title">What we do!</div>

      <div class="div-content">
        <div>
          <img src="/images/tuercas.png" class="left icon"/>
        </div>
        <div> <h2 class="subtitle">WebSite Design & Development</h2>
          <p>We are passionate about creating websites, we like to make dreams a reality.
          </br>We use and apply our strategy to provide the best results. We are shaped by a team of talents wiling to develod high quality projects.</p>
        </div>
      </div>

      <div class="div-content">

          <img src="/images/pantalla.png" class="left icon"/>

         <h2 class="subtitle">Software Application</h2>
          <p>We provide documentation with complete and comprehensive custom programming as well as support and modification of existing software. Our custom applications and software systems are developed using the best technologies annd the best industry
          standard languages such as: JavaScript, Html5, Css3, Polymer.</p>

      </div>

      <div class="div-content">
        <div>
          <img src="/images/dispositives.png" class="left icon"/>
        </div>
        <div> <h2 class="subtitle">Mobile & Table Development</h2>
          <p>You want an App and who doesn't? We take planning and provide development services for Android and iOS(iPhone and iPad).</p>
        </div>
      </div>

      <div class="div-content">
        <div>
          <img src="/images/SocialMarketing.png" class="left icon"/>
        </div>
        <div><h2 class="subtitle">SEO, SEM & PPC</h2>
          <p>We Provide Affordable Online Marketing Services for Clients including SEO and PPC (Pay per click). Everything that you need for optimizing your website and ensuring more sales and more bussiness.</p>
        </div>
      </div>

      <div class="div-content">
        <div>
          <img src="/images/cohete.png" class="left icon"/>
        </div>
        <div><h2 class="subtitle">QA & Testing</h2>
          <p>Consider us, as a team to perfom QA outsourcing. We can help you to plan and execute quality assurance activities and testing strategies in short time.</p>
        </div>
      </div>

    </paper-header-panel>

  </template>
  <script>
    (function() {
      Polymer({
        is: 't5-services',

        properties: {
          foo: {
            type: String,
            value: 'bar',
            notify: true
          }
        }
      });
    })();
  </script>
</dom-module>
