<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="t5-home">
  <style>
    :host {
    display:block;
    background: #eee;
    }

    .big{
      --iron-icon-height: 25.0vh;
      --iron-icon-width: 25.0vh;
      --paper-icon-button-ink-color: #FFF;
      font-size: 20.0vh;
    }

    .center{
      text-align: center;
    }

    .firstPara{
      text-align: justify;
      padding: 3%;
      font-size: 3.0vh;
    }

    .teclaTitle{
      font-size: 6.0vh;
      text-align: center;
    }

    h1{
      font-size: 20.0vh;
      margin-top: 8%;

    }

  </style>

  <template>
    <!-- class="t5" -->
    <header class="center">
      <h1> tecla<paper-icon-button id="homeButton" icon="t5-icons:tecla5" class="big"></paper-icon-button></h1>
    </header>

      <p class="teclaTitle">We type your idea ...</p></br>
      <p class="firstPara" >Built competitive ideas for your business with us, create responsive webpages and mobile applications.
        We will help you to make better decisions because we are a team of professionals engineers with experience in clients, leading groups, analysis SEO and Marketing.</p>

  </template>

  <script>
  (function() {
    Polymer({
      is: 't5-home',

      properties: {
        foo: {
          type: String,
          value: 'bar',
          notify: true
        }
      }
    });
  })();
  </script>
</dom-module>
