<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html" >
<link rel="import" href="../../bower_components/paper-input/paper-input.html" >
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">


<dom-module id="t5-contact">
  <style>
    :host {
      display:block;
      background: #FFF;
    }
    google-map {
      height: 300px;
    }
    .email {
      background: #35D08A;
    }
    .colored {
      background: #35D08A;
      color: #FFF;
      margin: 5%;
      margin-left:-3%;
    }
    .section-tab {
      margin:5%;
    }
    paper-button button {
    background-color: transparent;
    border-color: transparent;
    }
    .successMsgDiv{
      display:none;
      padding-bottom: 30%;
    }
    .success{
      font-size: 3vh;
      text-align: center;
    }
    .sub{
      color: #fff;
      font-size: 1.8vh;
    }
  </style>

  <template is="auto-binding">

    <div><google-map latitude="41.38" longitude="-357.81" zoom='13'></google-map></div>

    <paper-header-panel mode="seamed" flex>
      <section class="section-tab">
        <paper-toolbar class="email" id="mainheader">
          <iron-icon style="margin:10px" icon="communication:email"></iron-icon>
          <span flex>  We are happy to help you!</span>
        </paper-toolbar>

        <div id="successMsg" class="successMsgDiv">
          <p class="success"> Your ticket has been sent to Tecla5 support! </p>
          <p class="success"> One of our awesome support engineers will get
            back to you shortly! </p>
        </div>

        <form is="component-form" target="_blank" class="section-tab" id="form"
        method="POST" action="/__/forms/contact">
          <paper-input labelVisible floatinglabel required auto-validate error-message="Name is required" label="your name">
            <input is="iron-input" label="Your Name" type="text" name="name">
          </paper-input>

          <paper-input labelVisible floatinglabel required auto-validate
          error-message="Email is required" label="contact@your-company.com">
            <input is="iron-input" type="email" name="email" required>
          </paper-input>

          <paper-input labelVisible floatinglabel required auto-validate error-message="Message is required" label="message">
            <paper-autogrow-textarea id="a1">
              <textarea id="t1" name="message"></textarea>
            </paper-autogrow-textarea>
          </paper-input>

          <paper-button raised class="colored">
            <button type="submit" class="sub" onclick=" msgSent();"> Submit </button>
          </paper-button>

        </form>

      </section>

    </paper-header-panel>


  </template>
  <script>
    (function() {
      Polymer({
        is: 't5-contact',

        properties: {
          foo: {
            type: String,
            value: 'bar',
            notify: true


          }
        }

      });
    })();

  function msgSent() {
    document.getElementById("form").style.display = 'none';
    document.getElementById("successMsg").style.display = 'block';
  }

  </script>
</dom-module>
